<% if current_user.is_employer %>
  <% company = Company.find(current_user.company_id) %>
  <a href="<%= applications_url %>">View Applicants</a>
  <br>
  <a href="<%= new_opening_url %>">Create New Opening</a>
  <br>
  <h2><%= company.company_name %>'s Openings</h2>
<% else %>
  <h2>Current Job Openings</h2>
<% end %>

<ul>
  <% @openings.each do |opening|%>
    <li>
      <% if !current_user.is_employer %>
        <% company = Company.find(opening.company_id) %>
        <b>Company Name:</b> <%= company.company_name %>
        <br>
      <% end %>

      <b>Title:</b> <%= opening.title%>
      <br>

      <b>Description:</b> <%= opening.description%>

      <% if !current_user.is_employer %>
        <form action="<%= applications_url %>" method="post">
          <%= auth_token_input %>

          <input type="hidden" name="application[applicant_id]" value="<%= current_user.id %>">
          <input type="hidden" name="application[opening_id]" value="<%= opening.id %>">

          <% application = Application.find_by({applicant_id: current_user.id, opening_id: opening.id}) %>
          <% if !application.nil? %>
            <i>You applied on <%= application.created_at.strftime('%a %d %b %Y') %>.</i>
          <% else %>
            <input type="submit" value="Apply Now!">
          <% end %>
        </form>
      <% else %>
        <br>
        <a href="<%= edit_opening_url(opening.id) %>">Edit Opening</a>
      <% end %>

    </li>
    <br>
  <% end %>
</ul>
